.section {
    height: max(100vh - 70px, 600px);
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &Title {
        width: 100%;
        text-align: center;
        padding-left: 15px;


        &::after {
            content: '';
            position: absolute;
            width: 20%;
            height: 35%;
            right: -30px;
            bottom: 20px;
            transform: rotate(-150.12deg);
            filter: blur(457.29px);
            background: rgb(0, 194, 255);
            pointer-events: none;

        }
    }

    &Planet {
        background: url('./image/image\ Planet.jpg') center no-repeat no-repeat;
        background-size: cover;
        padding: 35px 50px;

        @media(max-width:992px) {
            background: url('./image/image\ Planet\ turn\ left.jpg') center no-repeat no-repeat;
            background-size: cover;

        }

        @media(max-width:400px) {
            padding: 35px 20px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 40%;
            height: 25%;
            left: 19%;
            top: 33%;
            transform: rotate(-24.29deg);
            filter: blur(471px);
            background: rgb(255, 114, 190);
            pointer-events: none;
        }

        &::before {
            content: '';
            position: absolute;
            width: 33%;
            height: 50%;
            left: 60%;
            top: 25%;
            transform: rotate(180.00deg);
            filter: blur(457.29px);
            background: rgba(255, 214, 0, 0.5);
            pointer-events: none;

        }

    }

}

.navigater {
    display: flex;
    gap: 30px;

    @media(max-width:400px) {
        gap: 10px;
    }

    &:nth-child(n) {
        flex-shrink: 0;

    }

    &OpenTitle {
        position: relative;

        &:before {
            position: absolute;
            content: url(./image/Vector.svg);
            left: 4px;
            bottom: -42px;
            z-index: 1;
            width: 14px;
            height: 14px;

        }

        &::after {
            position: absolute;
            content: url(./image/Vector.svg);
            right: 3px;
            top: -61px;
            z-index: 1;
            transform: rotate(180deg);

        }
    }

    &Btn {
        display: inline-block;
        position: absolute;
        top: -19px;
        left: 0;
        transform: translateX(-50%);

        @media(max-width:500px) {

            left: 90%;

        }


    }



    &Item {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        align-items: flex-end;
        gap: 76px;

        img {

            margin-top: -60px;
            margin-bottom: -45px;

        }

        &:first-child {
            margin-top: 5px;
        }

        &:nth-child(n) {
            flex-shrink: 0;
        }
    }
}