.section {
    height: max(100vh - 70px, 600px);
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &Title {
        width: 100%;
        text-align: center;
        padding-left: 15px;
    }

    &Planet {
        background: url('./image/image\ Planet.jpg') center no-repeat no-repeat;
        background-size: cover;
        padding: 35px 50px;


    }

}

.navigater {
    display: flex;
    gap: 30px;
    &:nth-child(n) {
        flex-shrink: 0;

    }

    &OpenTitle {
        position: relative;
        &:before {
            position: absolute;
            content: url(./image/Vector.svg);
            left: 4px;
            bottom: -42px;
            z-index: 1;
            width: 14px;
            height: 14px;
            
        }
        &::after {
            position: absolute;
            content: url(./image/Vector.svg);
            right:3px;
            top: -61px;
            z-index: 1;
            transform: rotate(180deg);
            
        }
    }

    &Btn {
        display: inline-block;
        position: absolute;
        top: -19px;
        left: 0;
        transform: translateX(-50%);

    }

   

    &Item {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        align-items: flex-end;
        gap: 76px;

        img {
            
            margin-top: -60px;
            margin-bottom: -45px;
            
        }

        &:first-child {
            margin-top: 5px;
        }

        &:nth-child(n) {
            flex-shrink: 0;
        }
    }
}