$borderButton: 1px;

.button {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 40px 15px 40px;
    background: inherit;
    opacity: 1;
    z-index: 0;
    
    


    color: white;
    box-sizing: border-box;
    box-shadow: none;
    cursor: pointer;
    text-align: center;



    &OutsideBorder {
        top: 0px;
        left: 0px;
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: -1;
        clip-path: polygon(70.00% 10.00%, 80% 0%, 100.00% 0.00%, 100.00% 100%, 30.00% 100.00%, 20.00% 90.00%, 0.00% 90.00%, 0.00% 10.00%);
    }



    &InsideBorder {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        background: black;

        clip-path: polygon(calc(70.00% + $borderButton) calc(10.00% + $borderButton), 80% calc(0.00% + $borderButton),
                calc(100.00% - $borderButton) calc(0.00% + $borderButton),
                calc(100.00% - $borderButton) calc(100.00% - $borderButton),
                calc(30.00%) calc(100.00% - $borderButton),
                calc(20.00%) calc(90.00% - $borderButton),
                calc(0.00% + $borderButton) calc(90.00% - $borderButton),
                calc(0.00% + $borderButton) calc(10.00% + $borderButton));
        line-height: 140%;
        opacity: 1;
        transition: background 1s, color 1s;


        z-index: 1;

        &:hover {
            background: white;
            color: black;
        }


    }


}

 .button a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:visited {

        color: white;
        
    }

    &:focus {
        
        outline: none;
        color: black;

    }
}
