// .white{
//     padding: 10px;
//     background-color: gray;
// }

.button {
    border-left: none;
    border-right: none;
    border-top: 2px solid white;
    border-bottom:2px solid white; ;
    font: 1.1429rem/ 1rem 'NeueMachina', sans-serif;
    font-weight: 700;
    background-color: initial;
    box-shadow: none;
    color: white;
    box-sizing: border-box;
    line-height: 140%;
    padding: 10px 0px 11px;
    transition: background-color 1s, color 1s;
    cursor: pointer;
    position: relative;
    box-shadow: none;
    // clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
    // position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // clip-path: polygon(calc(0% + 10px) calc(0% + 10px) , calc(100% - 10px)  calc(0% + 10px), calc(100% - 10px) calc(100% - 10px) , calc(0% + 10px) calc(100% - 10px), 0% calc(100% - 5px), 0% calc(100% - 2px));

    // clip-path: polygon(100% 0%, 100% 100%, calc(100% - 2px) 100% , calc(100% - 2px)  0%);
    // &::after {
    //     top: -6px;
    //     position: absolute;
    //     content: url(./image/left-border-button.svg);
    //     height: 52.5px;
    //     width: 32.5px;
        
    //     background-size: cover;
    // }
    // &:hover::after{
    //     fill: white;
    // }
    &:hover {
        background: white;
        color: black;
    }
}