.button {
    border: 2px solid white;
    font: 1.1429rem/ 1rem 'NeueMachina', sans-serif;
    font-weight: 700;
    background-color: initial;
    box-shadow: none;
    color: white;
    line-height: 140%;
    padding: 1.2857rem 1.7857rem 1.1429rem;
    transition: background-color 1s, color  1s;
    cursor: pointer;

    &:hover {
        background: white;
        color: black;
    }
}