.itemGrid {
    padding-top: 10px;
    display: grid;

    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(77, 10px);

    @media(max-width:992px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(21,50px);
    }
    @media(max-width:690px){
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 11ch auto minmax(30px, 100px);
         padding-top: 30px;     
    }

}

.item {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(max-width:690px){
        border: none;
        border-bottom: 1px solid white;
    }
    

    &Container {
        padding: 0 20px;
    }

    &Title {
        color: rgb(255, 255, 255);
        font-family: TTOctosquares-Regular;
        font-size: 31px;
        font-weight: 400;
        line-height: 117.8%;
        letter-spacing: 9%;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &Text {
        color: rgb(255, 255, 255);
        font-family: Mazzard;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }
}

.item1 {
    grid-column: 1;
    grid-row: 1/22;

    @media(max-width:992px) {
        grid-column:1;
        grid-row:1/4;
    }
    @media(max-width:690px){
        grid-column: auto;
        grid-row: auto;
    }
}


.item2 {
    grid-column: 1;
    grid-row: 28/57;
    @media(max-width:992px) {
        grid-column:2;
        grid-row:1/8;
        border-right: none;
    }
    @media(max-width:690px){
        grid-column: auto;
        grid-row: auto;
    }
}

.item3 {
    grid-column: 1;
    grid-row: 57/78;
    @media(max-width:992px) {
        grid-column:1;
        grid-row:4/8;
    }
    @media(max-width:690px){
        grid-column: auto;
        grid-row: auto;
    }
}

.item4 {
    grid-column: 2;
    grid-row: 1/19;
    @media(max-width:992px) {
        grid-column:1;
        grid-row:8/11;
    }
    @media(max-width:690px){
        grid-column: auto;
        grid-row: auto;
    }
}

.item5 {
    grid-column: 2;
    grid-row: 19/42;
    @media(max-width:992px) {
        grid-column:2;
        grid-row:8/11;
        border-right: none;
    }
    @media(max-width:690px){
        grid-column: auto;
        grid-row: auto;
    }
}

.item6 {
    grid-column: 2;
    grid-row: 42/65;
    @media(max-width:992px) {
        grid-column:1;
        grid-row:11/14;
    }
    @media(max-width:690px){
        grid-column: auto;
        grid-row: auto;
    }
}

.item7 {
    grid-column: 3;
    grid-row: 1/22;
    border-right: none;
    @media(max-width:992px) {
        grid-column:2;
        grid-row:11/15;
    }
    @media(max-width:690px){
        grid-column: auto;
        grid-row: auto;
    }
}

.item8 {
    grid-column: 3;
    grid-row: 22/54;
    border-right: none;
    @media(max-width:992px) {
        grid-column:1;
        grid-row:14/20;
        border-right: 1px solid white; ;
    }
    @media(max-width:690px){
        grid-column: auto;
        grid-row: auto;
        border-right: none;
        border-bottom: 1px soid white;
    }
}

.item9 {
    grid-column: 3;
    grid-row: 54/78;
    border-right: none;
    @media(max-width:992px) {
        grid-column:2;
        grid-row:15/20;
    }
    @media(max-width:690px){
        grid-column: auto;
        grid-row: auto;
        border-bottom: 1px soid white;
        
    }
}

.item10 {
    grid-column: 1;
    grid-row: 22/28;
    display: flex;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    @media(max-width:992px) {
        grid-column:1;
        grid-row:20/22;
    }
    @media(max-width:690px){
        grid-column: auto;
        grid-row: auto;
        border-right: none;
    }


    &ContainerLine {

        flex-grow: 1;
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &ContainerStar {
        flex-grow: 1;
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &ContainerEye {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

}

.item11 {
    grid-column: 2;
    grid-row: 65/78;
    display: flex;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    @media(max-width:992px) {
        grid-column:2;
        grid-row:20/22;
        border-right:none;
    }
    @media(max-width:690px){
        grid-column: auto;
        grid-row: auto;
    }

    &ContainerSun {
        flex-grow: 1;
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &ContainerArrow {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 13px
    }
}