.itemGrid {
    padding-top: 10px;
    display: grid;

    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(77, 10px);

}

.item {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &Container {
        padding: 0 20px;
    }

    &Title {
        color: rgb(255, 255, 255);
        font-family: TTOctosquares-Regular;
        font-size: 31px;
        font-weight: 400;
        line-height: 117.8%;
        letter-spacing: 9%;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &Text {
        color: rgb(255, 255, 255);
        font-family: Mazzard;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }
}

.item1 {
    grid-column: 1;
    grid-row: 1/22;
}


.item2 {
    grid-column: 1;
    grid-row: 28/57;
}

.item3 {
    grid-column: 1;
    grid-row: 57/78;
}

.item4 {
    grid-column: 2;
    grid-row: 1/19;
}

.item5 {
    grid-column: 2;
    grid-row: 19/42;
}

.item6 {
    grid-column: 2;
    grid-row: 42/65
}

.item7 {
    grid-column: 3;
    grid-row: 1/22;
    border-right: none;
}

.item8 {
    grid-column: 3;
    grid-row: 22/54;
    border-right: none;
}

.item9 {
    grid-column: 3;
    grid-row: 54/78;
    border-right: none;
}

.item10 {
    grid-column: 1;
    grid-row: 22/28;
    display: flex;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    ;
    

    &ContainerLine{
        
        flex-grow: 1;
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &ContainerStar{
        flex-grow: 1;
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &ContainerEye{
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:4px;
    }

}

.item11 {
    grid-column: 2;
    grid-row: 65/78;
    display: flex;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
   
    &ContainerSun{    
        flex-grow: 1;
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &ContainerArrow{
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:13px
    }
}