.section {
    height: max(200vh - 70px, 1400px);
    position: relative;
    z-index: 0;
    overflow: hidden;
    &Roadmap {
        position: relative;
        
        background-image: rgb(31, 33, 47);
        background-image: linear-gradient(0deg, rgba(31, 33, 47, 1) 0%, rgba(58, 41, 68, 1) 100%);
         

        background-size: cover;
        padding: 85px 50px;
        @media(max-width:576px){
            padding: 25px 10px;
        }

        &::before {
            content: "";
            top: -115px;
            left:-30px;
            position: absolute;
            height: 230px;
            width: 100%;
            background: linear-gradient(200deg, #0A1418 -20.47%, #352F46 112.47%);
            filter: blur(64px);
            z-index: -1;
        }

    }
}

.menu{
    display: flex;
    gap: 50px;
    @media(max-width:576px){
        gap:15px
    }
    &SVGnavigation{
        padding-top: 50px;
    }
}
.container{
    margin-left: 125px;
    @media(max-width:800px){
        margin-left: 50px;
    }
    @media(max-width:500px){
        margin-left: 0;
    }
}
.titleSection{
    margin-bottom:17px;
}
.title{
    margin-bottom:89px ;
}